<html>
<head>
    {% load static %}

    <!--BOOTSTRAP use krne ke lie link-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--Font Awsm ke use krne ke lie link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!--styling,font,color,background change when go to the link-->

<style>


#mydiv {
  position: absolute;
  z-index: 9;

}

#mydivheader {
  padding: 100px;
  cursor: move;
  z-index: 10;
}
</style>

</head>
<body>

<!--Navigation Bar-->
<nav class="navbar  bg-dark navbar-dark"style="background-color:black">
    <!--Navigation Bar content Brand image-->

    <!--Navigation Bar content-->
     <div class="col-sm-1 mt-0 " >
      <a href="{% url 'feedback' %}">  <button class="btn btn-outline-light text-dark"style="background-color:white"><h1 style="color:black;">FEEDBACK</h1></button></a>
     </div>

<ul class="navbar-nav" style="margin-left:300px;position:fixed">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'index'%}"><i class="fa fa-home mr-1 "></i>HOME</a>
    </li>

  </ul>

<ul class="navbar-nav" style="margin-left:400px;position:fixed">
    <li class="nav-item">
     <a class="nav-link active" href="{% url 'job'%}"><i class="fa fa-suitcase mr-1 "></i>LATEST JOB</a>
    </li>
  </ul>
    <!-- Navigation bar content heading -->




    <!-- Social Media Link -->
        <div class="col-sm-7 mt-0" style="padding-left : 40% ">
            <span style="font-weight:bold ; font-size:30px ; color; Red">
                <span style="color: White">

                    <i> <a href="https://twitter.com/JOBMILEGAONLINE"class="fa fa-twitter pl-2" style="color: white"></a></i>
                    <i> <a href=" https://www.linkedin.com/in/job-milega-936838218/"class="fa fa-linkedin pl-2" style="color: white"></a></i>
                    <i> <a href="https://www.facebook.com/JOBMILEGA.ONLINE/"class="fa fa-facebook pl-2" style="color: white"></a></i>
                    <i> <a href="https://www.instagram.com/jobmilega.online/"class="fa fa-instagram pl-2" style="color: white"></a></i>
              </span>
            </span>
        </div>

    <!-- Profile with image and data -->
  <div class="card" style="width:100px ; height:80px ; margin-left:10px">
  <div class="card-body" >
    <a href="{% url 'login'%}" class="btn btn-primary stretched-link" >Login</a>

  </div>
 </div>


</nav>

</body>
</html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FEEDBACK</title>
</head>


<meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

     <!--CSS + JAVA SCRIPT + BOOTSTRAP ke use krne ke lie link start-->
<!--Font Awsm ke use krne ke lie link start-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Font Awsm ke use krne ke lie link end-->

</head>



<body style="background-color:black;color:white">

<div  class="row-sm-7"  style="margin-top:5px">

<div   class="row" style=" margin-left:50px;margin-top:10px">
 <form  method="post">
      {% csrf_token %}
     <div class="col-sm-4" style="text-align: center">
     <input  type="text" name="question"  placeholder="NAME" size="70" maxlength="30" required style="text-align: center;;background-color:black;color:white;border: 1px solid white">
     </div>
     <div  class="col-sm" style="text-align: center;">

     <textarea type="text"   name="answer"  placeholder="FEEDBACK FOR JOBMILEGA.ONLINE" rows="5" maxlength="79" required style="text-align: center;background-color:black;color:white; width:460px" ></textarea>
      </div>
     <div class="col-sm" style="text-align: center">
     <button type="submit"   class="btn btn-success"  style="background-color: black;color:white;">DONE</button>
     </div>
 </form>
 </div>


   <div id="mydiv" class="col-sm-7">
  {% for m in material%}
  <div  id="mydivheader" class="container" style="width:700px;background-color:rgb(255,255,255,0.1);margin-left: 30px;margin-top: 20px;box-shadow: 0px 0px; height:85px;padding: 15px;">
    <a href="">
        <span class="link"></span>
      </a>
    <!--Make a container as button end-->
    <a href="{% url 'deletefeedback' m.id %}"  class="fa fa-trash-o"  onclick="return confirm('Are you sure? You want to delete this Article!')" style="margin-top:25px;color:rgb(255,255,255,0.0);position:fixed"></a>
         <p>{{ m.content}} </p>
         <div  class="row">
      <small ><label style="color:green;margin-left:15px">by-</label> {{ m.title}}</small><small style="margin-left:100px;margin-top:px;">{{ m.date}}</small>
          </div>
   </div>
  {% endfor%}

   </div>

</div>


{% ifequal error "no" %}
      <script>
          alert(" ADDED SUCCESSFULLY")
          window.location=('{% url 'feedback' %}')
      </script>
      {% endifequal %}

       {% ifequal error "yes" %}
      <script>
          alert("SOMETHING WENT WRONG"TRY AGAIN")
          window.location=('{% url 'feedback' %}')
      </script>
{% endifequal %}


</body>
</html>

<br>









<!-- dragable element-->




<!DOCTYPE html>
<html>




<script>
//Make the DIV element draggagle:
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>

