{% load static %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {
  box-sizing: border-box;
}


/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
  height:120px
}

</style>
</head>


<div class="row" style=" ">
  <div class="column">
    <div class="card"style="background-color:black;color:white">
      <p><i> </i></p>
      <h3>100%</h3>
      <p>PROFESSIONAL</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i> </i></p>
      <h3> </h3>
      <h2><a href="{% url 'placedstudent' %}" style="color:black;"><b>PLACED STUDENT</b></a></h2>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <p><i></i></p>
      <h3></h3>
     <h2><a href="{% url 'feedback' %}" style="color:black"><b>GUEST FEEDBACK</b></a></h2>
    </div>
  </div>

  <div class="column">
    <div class="card"style="background-color:black;color:white">
      <p><i></i></p>
      <h3>100%</h3>
      <p>TRUSTWORTHY</p>
    </div>
  </div>
</div>



<!--Bottom Profile or footer part of app -->

<div class="container ml-2 " style="background-color: black;color:white;margin-top: 40px">

  <div class="row" >
    <div class="col-sm-2 ml-5" style="margin-top:30px" >
      <h3>GENERAL</h3><br>
      <a href="{% url 'aboutus' %}"style="color:white">About Us</a><br>
      <a href="{% url 'usersignup' %}"style="color:white">Jobseeker Signup</a>
      <a href="{% url 'login' %}"style="color:white">Jobseeker login</a><br>
      <a href="{% url 'recruitersignup' %}"style="color:white">Recruiter Signup</a><br>
      <a href="{% url 'recruiterlogin' %}"style="color:white">Recruiter Login</a><br>
      <a href="{% url 'password_reset' %}"style="color:white">Forgot Password ?</a><br><br>
    </div>
    <div class="col-sm-2" style="margin-top:30px;margin-left:30px">
      <h3>Social Media</h3><br>
      <!-- Social Media Link -->

        <div class="col-sm mt-0 " >
            <span style="font-weight:bold ; font-size:50px ">
                <span style="color: White">

                    <i> <a href="https://twitter.com/JOBMILEGAONLINE"class="fa fa-twitter pl-2" style="color: white"></a></i>
                    <i> <a href=" https://www.linkedin.com/in/job-milega-936838218/"class="fa fa-linkedin pl-2" style="color: white"></a></i>
                    <i> <a href="https://www.facebook.com/JOBMILEGA.ONLINE/"class="fa fa-facebook pl-2" style="color: white"></a></i>
                    <i> <a href="https://www.instagram.com/jobmilega.online/"class="fa fa-instagram pl-2" style="color: white"></a></i>
              </span>
            </span>
        </div>



    </div>
    <div class="col-sm-2" style="margin-top:30px;margin-left:10px">
      <h3>Policy</h3><br>
            <a href="{% url 'interviewquestion' %}"style="color:white">Term and conditions</a><br>
      <p></p>


    </div>
    <div class="col-sm-3" style="margin-top:30px;margin-left:10px">
      <h3>Registered Address</h3><br>
      <p> H-No-68, near Pragati Public School, GB Palya, Bengaluru, 560068, India</p>


    </div>
    <div class="col-sm-2" style="margin-top:30px;margin-left:10px">
      <h3>E-Mail</h3><br>
      <p><a>jobmilegaonline.com</a></p>
      <h3>Contact No. :</h3><br>
      <p><a>+91 7004166578</a></p>

    </div>

  </div>
</div>

<br>
<!-- Bottom  ALL RIGHTS RESERVED COPYRIGHT line -->

<marquee style="font-family:  ; font-size: 20px; color: white; background-color: black">All rights reserved © 2021: jobmilega.online </marquee>

