<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   <style>

            div.scroll {
                margin:4px, 4px;
                padding:4px;
                width: 645px;
                height: 700px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
            }
        </style>
</head>
<body>

  <div class="container-fluid">
    <!-- Control the column width, and how they should appear on different devices -->

      <div class="row">
      <div class="col-sm-6" style="font-size:20px" >
          <h2>BEST WEBSITE fOR STUDY MATERIAL</h2>
          <div class="scroll">
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
           <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
    <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
           <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
      <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
           <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>

           </div>
      </div>


      <div class="col-sm-6"style="font-size:20px">
           <h2>BEST STUDY CHANNEL ON YOUTUBE</h2>
          <div class="scroll" style="background-color:black;color:white">
           <label>1</label>
          <button class="btn btn-outline-danger">HTML</button>
              <span> Coading Content</span><br>
          <button>CSS</button>
          <button>BOOTSTRAPS</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <div class="scroll">
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
           <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
    <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
           <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
      <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
           <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>HTML</button>
          <button>CSS</button>
          <button>BOOTSTRAP</button>
          <button>PYTHON</button>
          <button>DJANGO</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          <button>MYSQL</button>
          <button>JAVASCRIPT</button>
          <button>J-QUERY</button>
          </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>

