


<head>

    <!--BOOTSTRAP use krne ke lie link-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--Font Awsm ke use krne ke lie link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <!--styling,font,color,background change when go to the link-->
<style>
.nav-link:hover
    {
    color:white !important;
    font-weight:normal;
    background-color: Grey;
    border-radius: 20px;

    }

 body{background-color: rgb(0,0,0,0.1);}

</style>

    <script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

</head>

<body>

<!--Navigation Bar-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!--Navigation Bar content Brand image-->
    <div class="col-sm-1 mt-0 " style="padding-right : 20% ">
        <a href="{% url 'latestjobpageforrecruiter'%}" ><img src="static/images/LOGO.png" alt="jobmilega.online" style="width:200px; height:90px"></a>
        </div>

<!-- Toggle Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
</button>

    <!--Navigation Bar content-->
<ul class="navbar-nav">


     <li class="nav-item" style="margin-left:60px">
          <a class="nav-link active" href="{% url 'video'%} " data-toggle="tooltip" data-placement="top" title="Video"><i class="fa fa-tv mr-0" style="font-size:40px;"></i></a>
     </li>
  </ul>
    <!-- Navigation bar content heading -->
         <form action="/search2" method="get"  >
      <input type="text" placeholder="Search.." name="search" style="padding: 10px;border: 1px solid grey;font-size:17px;margin-left:50px;margin-top:17px;width:350px; border-radius:0px 0px 0px 0px;background-color:black;color:white">
      <button type="submit" style="padding: 10px;border: 1px solid grey;margin-left:-5px;background-color:black;color:white;font-size:22px;width:70px"><i class="fa fa-search" style="margin-bottom:3px" ></i></button>
    </form>


    <!-- Logout Button -->
       <!-- LogouT -->
    <ul class="navbar-nav">

          <li class="nav-item" style="margin-left:60px">
      <a class="nav-link active" href="{% url 'Logout'%}" data-toggle="tooltip" data-placement="top" title="logout"><i class="fa fa-power-off mr-0 " style="font-size:40px"></i></a>
          </li>

        <li class="nav-item" style="font-size:40px ; margin-left:46px">
         <a class="nav-link active" href="{% url 'recruitermainpage'%}"data-toggle="tooltip" data-placement="top" title="Your Post"><i class="fa fa-database mr-0" style="font-size:40px; color: white"></i></a>
        </li>



    </ul>

    <!-- Profile with image and data -->

  <div class="card" style="width:120px ; height:80px ; margin-left:90px">
   <img class="card-img-top" style="width:119px; height:80px ; margin-top:0 ;border-radius:50%" src="{{recruiter.image.url}}" alt="Card image">
  <div class="card-body" >
        <span href="" class="stretched-link"  data-toggle="modal" data-target="#myModal"></span>

       <!-- The Modal start -->
       <!-- Modal -->
        <div class="modal fade" id="myModal">
         <div class="modal-dialog modal-xl" style="width:500px;height:auto">
           <div class="modal-content">
                  <!-- Modal Header start -->
              <div class="modal-header" >
                <h2 class="modal-title text-center" style="margin-left:180px">PROFILE</h2>
               <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
                  <!-- Modal Header  end-->
                   <!-- Modal body start -->
              <div class="modal-body" style="padding:0px 0px">

                                 <!-- FORM IN MODAL START-->
              <div class="row">
                <a><img src="{{recruiter.image.url}}" style="width:497px; height:150px ;margin-left:15px" ></a>
              </div>
                  <div class="text-center" style="font-family:Times New Roman">
                    <h4><b>{{recruiter.company}}</b></h4>
                 </div>
                  <div class="text-center" style="font-family:Times New Roman">
                    <h4><b>{{recruiter.user.first_name}} {{recruiter.user.last_name}}</b></h4>
                  </div>
                  <div class="text-center" style="font-family:Times New Roman">
                    <h4><b>{{recruiter.user.username}}</b></h4>
                  </div>
                  <div class="text-center" style="font-family:Times New Roman">
                    <h4><b>{{recruiter.mobile}}</b></h4>
                  </div>
                  <div class="text-center" style="font-family:Times New Roman">
                    <h4><b>{{recruiter.type}}</b></h4>
                  </div>
            <!-- FORM IN MODAL END-->

        </div>
                     <!-- Modal body  end-->
                   <!-- Modal footer start -->

       <div class="modal-footer">

           <a href="{% url 'changepasswordforrecruiter' %}" class="btn btn-primary" style=" margin-right:160px">CHANGE PASSWORD</a>
           <a href="{% url 'recruiterprofileupdate' %}" class="btn btn-primary">EDIT PROFILE</a>
       </div>
                   <!-- Modal footer end -->

<style>
.modal {
   top: 100px;
   right:70px;
   bottom: 100px;
   left: 425px;
}
  .modal-header{
    background-color: rgb(200,0,0,0.3);
    color:white;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: rgb(0,0,200,0.3);;
  }
 </style>

    </div>
  </div>
</div>

      <!-- The Modal end-->
  </div>
 </div>


</nav>
</body>

<!--PAID JOB Image Slider start-->
<html lang="en">
<body>

<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 30%;
    margin-top:8px;
  }
  </style>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators line present in bottom of the image-->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active"style="background-image: url(static/images/2.jpg);">
        <!--carousel container contains paid job data1 and act as button start-->
         {% for i in data1 %}
         <!--Make a container as button start-->
         <div class="container" style="width:1100px;background-color:rgb(255,255,255,0.9);margin-left: 125px;margin-top: 20px;box-shadow: 0px 0px; height:220px;padding: 15px;">
         <a href="{% url 'detailforrecruiter' i.id %}">
         <span class="link"></span>
         </a>
         <!--Make a container as button end-->
                      <h3> {{ i.company}}</h3>
                      <p> {{ i.title}} </p>
                      <p><i class="fa fa-clock-o mr-3 "></i>{{ i.start_date}}<small class="akash" style="margin-left:30px">To</small><i class="honey" style="margin-left:30px"></i>{{ i.end_date}}</p>
                      <p><i class="fa fa-briefcase mr-3 "></i>{{ i.experience}}<i class="akash" style="margin-left:140px"></i> <i class="fa fa-map-marker mr-3 "></i>{{ i.location}}</p>
                      <p> <i class="fa fa-money mr-3 " ></i>{{ i.salary }} {{ i.permonth }} <small class="akash" style="margin-left:300px">Posted Date--></small><small>{{ i.creationdate}}</small></p>
         </div>
         {% endfor %}
<br>
                <!--carousel container contains paid job data1 and act as button end-->
                <!--carousel container contains paid job data2 and act as button start-->

    </div>


        <div class="carousel-item" style="background-image: url(static/images/2.jpg);">
         {% for i in data2 %}
         <!--Make a container as button start-->
         <div class="container" style="width:1100px;background-color:rgb(255,255,255,0.9);margin-left:125px;margin-top: 20px;box-shadow: 0px 0px; height:220px;padding: 15px;">
    <a href="{% url 'detailforrecruiter' i.id %}">
        <span class="link"></span>
      </a>
    <!--Make a container as button end-->
                      <h3> {{ i.company}}</h3>
                      <p> {{ i.title}} </p>
                      <p><i class="fa fa-clock-o mr-3 "></i>{{ i.start_date}}<small class="akash" style="margin-left:30px">To</small><i class="honey" style="margin-left:30px"></i>{{ i.end_date}}</p>
                      <p><i class="fa fa-briefcase mr-3 "></i>{{ i.experience}}<i class="akash" style="margin-left:140px"></i> <i class="fa fa-map-marker mr-3 "></i>{{ i.location}}</p>
                      <p> <i class="fa fa-money mr-3 " ></i>{{ i.salary }} {{ i.permonth }} <small class="akash" style="margin-left:300px">Posted Date--></small><small>{{ i.creationdate}}</small></p>
</div>
         {% endfor %}
         <br>
         </div>
    </div>

                <!--carousel container contains paid job data2 and act as button end-->

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
     <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</body>
</html>
<!--PAID JOB Slider end-->

{% for i in data %}
  <!--Make a container as button start-->
<head>
    <style>
      .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .container {
       cursor: pointer;
       position: relative;
      }
    </style>
  </head>
<div class="container" style="width:800px;background-color:rgb(255,255,255,0.9);margin-left: 30px;margin-top: 20px;box-shadow: 0px 0px; height:220px;padding: 15px;">
    <a href="{% url 'detailforrecruiter' i.id %}">
        <span class="link"></span>
      </a>
    <!--Make a container as button end-->
                      <h3> {{ i.company}}</h3>
                      <p> {{ i.title}} </p>
                      <p><i class="fa fa-clock-o mr-3 "></i>{{ i.start_date}}<small class="akash" style="margin-left:30px">To</small><i class="honey" style="margin-left:30px"></i>{{ i.end_date}}</p>
                      <p><i class="fa fa-briefcase mr-3 "></i>{{ i.experience}}<i class="akash" style="margin-left:140px"></i> <i class="fa fa-map-marker mr-3 "></i>{{ i.location}}</p>
                      <p> <i class="fa fa-money mr-3 " ></i>{{ i.salary }} {{ i.permonth }} <small class="akash" style="margin-left:300px">Posted Date--></small><small>{{ i.creationdate}}</small></p>
</div>
{% endfor%}


</body>
</html>