{% load static %}
{% block body %}
{% include 'navigation.html' %}


<html>
<head>

<title>LOGIN</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--BOOTSTRAP use krne ke lie link-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--Font Awsm ke use krne ke lie link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

    body{
      background-color: black;
      background-position:center;
      background-size: cover
      font-family: sans-sarif;
      margin-top: 0px;
      color:white;
     }

     .box{
       width:800px;
       background-color:rgb(0,0,0,0.5);
       margin-left: 275px;
       height: 710px;
       margin-top: 0px;
       border-radius:15px 15px 15px 15px;



</style>

</head>



<body>

<b><marquee style="color:white;font-size:20px">PLEASE LOGIN FIRST</marquee></b>


<div class="row">

    <!--Column1 start here-->
       <div class="clo-3">
<div class="box" style="width:340px ; height:300px ; margin-left:160px; margin-top:60;border-radius:100px 100px 100px 0px;">

  <div class="card-body" >

  <!--create a form for login-->
<div class="container mt-5"></div>

       <!--create a button for Recruiter login and Admin Login start-->
  <div class="card" style="width:340px ; height:52px ; margin-left:-20px;margin-top:-80px;border-radius:0px 0px 0px 0px;">
  <div class="card-body" >
    <a href="{% url 'recruiterlogin'%}" class="btn btn-primary stretched-link" style="margin-left:-16px;margin-top:-15px;width:330px" >RECRUITER</a>
              <img class="card-img-top" style="width:340px; height:250px ; margin-left:-21px; margin-top:9px ;border-radius:0%;border-radius:0px 0px 0px 0px;" src="static/images/new.jpg" alt="Card image">
  </div>
 </div>
       <!--create a button for Recruiter login and Admin Login End-->

</div>
  </div>
 </div>
    <!--Column1 end here-->

    <!--Column2 start here-->
      <div class="clo-5">
     <div class="card" style="width:340px ; height:450px ; margin-left:50px; margin-top:-5px;background-color:black">
  <div class="card-body" >
  <!--create a form for login-->
<div class="container mt-4">
  <h2>USER    LOGIN </h2>
  <form method="post">
     {% csrf_token %}
    <div class="form-group">
      <label>Email:</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label >Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" name="pswd" >
    </div>
      <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>

    <button type="submit" class="btn btn-primary btn-block">USER PLEASE LOGIN</button>

       {% ifequal error "no" %}
      <script>
          window.location = ('{% url 'latestjob' %}')
      </script>
      {% endifequal %}

      {% ifequal error "yes" %}
      <script>
          alert("Invalid Credentials");
          window.location = ('{% url 'login' %}')
      </script>
      {% endifequal %}

         <!--forgot password and signup code start -->
  </form>

        <div class="container text-center">
          <span>Need an account? : </span>
          <a href="{% url 'usersignup' %}">SIGNUP</a>
            <a href="{% url 'password_reset' %}">Forgot Password ?</a>
        </div>

</div>
 <!--forgot password and signup code end -->

  <!--form end -->


  </div>
 </div>
    </div>
     <!--Column2 end here-->

    <!--Column3 start here-->
     <div class="clo-4">
     <div class="box" style="width:340px ; height:290px ; margin-left:50px; margin-top:59;border-radius:0px 0px 0px 0px;">
   <div class="card-body" >

 <div class="container mt-5"></div>
       <!--create a button for Recruiter login and Admin Login start-->
  <div class="card" style="width:340px ; height:52px ; margin-left:-19px;margin-top:-78px">

  <div class="card-body" >
    <button class="btn btn-primary stretched-link" onclick="typeWriter()" style="margin-left:-16px;margin-top:-15px;width:330px">ADMIN</button>

   <img class="card-img-top" style="width:340px; height:246px ; margin-top:10px; margin-left:-20px;border-radius:0px 0px 0px 0px;" src="static/images/10.jpg" alt="Card image">
      <p id="demo"></p>
<script>
var i = 0;
var txt = '“Find out what you like doing best and get someone to pay you for doing it.”---KATHARINE WHITEHORN';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("demo").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script>
   </div>
  </div>
       <!--create a button for Recruiter login and Admin Login End-->

</div>
  </div>
 </div>
    <!--Column3 start here-->

</div>

</body>
</html>




{% endblock %}

