{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--Font Awsm ke use krne ke lie link-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





    <style >

body{
      background-position:center;
      background-size: cover;
      font-family: sans-sarif;
      margin-top: 0px;
     }

</style>
</head>


<div  style="background-color: ;width: 800px;border: 15px solid green;padding: 50px;margin-top:-90px;margin-left:250px">


<body style="background-color:black;color:white;text-align:center;margin-top:180px">

<h1>RESET NEW PASSWORD</h1>

<form method="post" style="text-align:center;margin-top:30px;font-size:22px;color:white">
    {% csrf_token %}

 {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}



    {% for field in form.visible_fields %}
    <div class="form-group">

      {{ field }}
         {% if field.label_tag %}
        <small class="form-text text-muted" >{{ field.label_tag }}</small>
      {% endif %}

    </div>
  {% endfor %}
    <div>
    <button type="submit" class="btn btn-success"style="margin-top:25px;width:270px" >SUBMIT</button>
        </div>
</form>


<div style="position:fixed; font-family:serif;margin-left:170px;margin-top:-450px" >
<h6>Your password must contain at least 8 characters.</h6>
<h6>Your password can't be entirely numeric. </h6>
</div>


</body>
    </div>
</html>